<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhfy.zhfyapi.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.zhfy.zhfyapi.model.Yd_Yhxx">
        <id column="YHBH" jdbcType="VARCHAR" property="yhbh" />
        <result column="YHXM" jdbcType="VARCHAR" property="yhxm" />
        <result column="YHMM" jdbcType="VARCHAR" property="yhmm" />
        <result column="FYDM" jdbcType="CHAR" property="fydm" />
        <result column="BMMC" jdbcType="VARCHAR" property="bmmc" />
        <result column="YXDZ" jdbcType="VARCHAR" property="yxdz" />
        <result column="BGDH" jdbcType="VARCHAR" property="bgdh" />
        <result column="YHWX" jdbcType="VARCHAR" property="yhwx" />
        <result column="YHQQ" jdbcType="VARCHAR" property="yhqq" />
        <result column="YHSJ" jdbcType="VARCHAR" property="yhsj" />
        <result column="YHGNXH" jdbcType="VARCHAR" property="yhgnxh" />
        <result column="YXBZ" jdbcType="CHAR" property="yxbz" />
        <result column="LXR" jdbcType="CHAR" property="lxr" />
        <result column="sfzh" jdbcType="VARCHAR" property="sfzh" />
        <result column="YHJSDM" jdbcType="CHAR" property="yhjsdm" />
        <collection property="yd_fyxxlist" javaType="com.zhfy.zhfyapi.model.Yd_Fyxx" >
            <id column="FYDM" jdbcType="CHAR" property="fydm" />
            <result column="FYMC" jdbcType="VARCHAR" property="fymc" />
            <result column="XZJBDM" jdbcType="CHAR" property="xzjbdm" />
            <result column="SFDM" jdbcType="CHAR" property="sfdm" />
            <result column="ZSDM" jdbcType="CHAR" property="zsdm" />
            <result column="XQDM" jdbcType="CHAR" property="xqdm" />
            <result column="SYBZ" jdbcType="CHAR" property="sybz" />
            <result column="YXBZ" jdbcType="CHAR" property="yxbz" />
            <result column="GNXHC" jdbcType="VARCHAR" property="gnxhc" />
            <result column="JCCZ" jdbcType="VARCHAR" property="jccz" />
            <result column="LXR" jdbcType="VARCHAR" property="lxr" />
            <result column="FYDH" jdbcType="VARCHAR" property="fydh" />
            <result column="FYDZ" jdbcType="VARCHAR" property="fydz" />
            <result column="FYBM" jdbcType="VARCHAR" property="fybm" />
            <result column="FYWZ" jdbcType="VARCHAR" property="fywz" />
        </collection>
    </resultMap>

	<!--login登录-->
	<select id="login" parameterType="java.lang.String" resultMap="UserResultMap">
    select yhxx.yhbh, yhxx.yhxm, fyxx.fydm, yhxx.yhjsdm,
    fyxx.fymc, yhxx.yhgnxh, fyxx.gnxhc, fyxx.sfdm,
    fyxx.zsdm, fyxx.xqdm, fyxx.xzjbdm, yhxx.yxbz yhyxbz,
    fyxx.yxbz fyyxbz, fyxx.sybz fysybz
    from yd_yhxx yhxx, yd_fyxx fyxx
    where yhxx.yhbh = #{yhbh,jdbcType=VARCHAR}
    and yhxx.yhmm = #{yhmm,jdbcType=VARCHAR}
    and yhxx.fydm = fyxx.fydm
  </select>
</mapper>